.f1 {
  background-color: rgb(26, 30, 34);
  color: rgb(200, 225, 255);
  padding: 3rem 5rem 10rem;
}

.f1 > div {
  max-width: 1400px;
  margin: 0px auto;
}

.userProfileInfo {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  text-align: center;
}

.cat .github-corner {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
}

a {
  color: rgb(0, 112, 243);
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}

.cat .github-corner svg {
  fill: rgb(0, 112, 243);
  color: rgb(246, 248, 250);
}


.cat .github-corner svg .octo-arm {
  transform-origin: 130px 106px;
}

.userProfileInfo .avatar {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 150px;
  height: 150px;
  border-width: 0.5rem;
  border-style: solid;
  border-color: rgb(0, 112, 243);
  border-image: initial;
  border-radius: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}


.userProfileInfo .avatar img {
  border-radius: 100%;
}

.userProfileInfo h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: rgb(246, 248, 250);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-weight: 500;
}


.userProfileInfo h2 a {
  color: rgb(0, 112, 243);
}


.userProfileInfo .info {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}


.userProfileInfo .info__item {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  white-space: nowrap;
  margin: 0px 1rem 0.5rem;
}


.userProfileInfo .statusUser {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.userProfileInfo .statusUser_item {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(36, 41, 46);
  text-align: center;
  padding: 1rem;
  border-radius: 0.25rem;
}


.userProfileInfo .statusUser_item .num {
  color: rgb(246, 248, 250);
  font-size: 1.5rem;
}


.userProfileInfo .statusUser_item .num_label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-top: 0.75rem;
  color: rgba(200, 225, 255, 0.7);
}

.f2 {
  padding: 3rem 5rem;
}

.f2 > div {
  max-width: 1400px;
  margin: 0px auto;
}


.euKsvg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -webkit-box-pack: center;
  justify-content: center;
  max-width: 1200px !important;
  margin-top: -8rem !important;
  gap: 2rem;
}


.euKsvg .chart {
  background-color: rgb(255, 255, 255);
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 30px -15px;
  padding: 2rem;
  border-radius: 0.25rem;
}

.euKsvg .chart header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.f2 header {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 2rem;
}

.euKsvg .chart header h2 {
  font-size: 1.5rem;
}


.iZMYk header h2 {
  display: inline-block;
  font-size: 1.75rem;
  background-image: linear-gradient(90deg, rgb(209, 213, 218) 50%, rgba(255, 255, 255, 0) 0px);
  background-size: 10px 2px;
  padding-bottom: 6px;
  margin: 0px;
  background-position: center bottom;
  background-repeat: repeat-x;
}


.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
  position: absolute;
  direction: ltr;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
}


.chartjs-size-monitor-expand > div {
  position: absolute;
  width: 1000000px;
  height: 1000000px;
  left: 0;
  top: 0;
}


.chartjs-size-monitor-shrink > div {
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
}


.chartjs-render-monitor {
  animation: chartjs-render-animation 0.001s;
}

.info .info__item svg {
  margin-right: 10px;
}



.top_repo{

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  list-style-type: none;
}



.top_repo .repo-list ul li .repo__name {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.top_repo .repo-list ul li .repo p {
  font-size: 14px;
  margin-bottom: 2rem;
}

/*.top_repo .repo-list ul li .repo__name svg {
  margin-right: 0.5rem;
  min-width: 16px;
}*/

.top_repo .repo-list ul li .repo {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  color: rgb(88, 96, 105);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 2rem;
  border-radius: 0.25rem;
  transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
}


ul, ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
.top_repo .repo-list ul li .repo h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(36, 41, 46);
  margin-bottom: 0.75rem;
  font-size: 20px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
  font-weight: 700;
  letter-spacing: -0.5px;
  overflow: hidden;
}

.top_repo .repo-list ul li .repo__stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.top_repo .repo-list ul li .repo__name h3 {
  margin: 0px;
}
